@media screen and (min-width: 375px) {
  .page_1body {
    width: 100%;
    height: auto;
  }

  .header {
    margin: 0;
    border: 50px;
    width: 100%;
    height: auto;
    display: block;
  }

  .logo_container {
    display: inline;
    margin: 20px 20px 20px 20px;
  }

  .top_right {
    float: right;
  }

  .logo {
    float: left;
    color: blue;
  }

  .headline {
    padding: 20px;
    background-image: url(background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    background-position-x: -50%;
    background-position-y: 500;
  }

  .headline h1 {
    font-size: 300%;
    flex-direction: center;
  }

  .message {
    color: #333;
    font-size: 25px;
    width: 600px;
    height: auto;
    margin: 80px;
    flex-direction: center;
  }

  .hi {
    color: blue;
    font-size: 20px;
  }

  .image {
    border-image-width: 300px;
    height: auto;
    display: list-item;
    color: #3498db;
    font-size: 20px;
    background-color: green;
  }
}

.image_other_content {
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.para5 ul {
  background-color: azure;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.para6 {
  font-size: 30px;
  background-color: azure;
  white-space: 10%;
}

.Hcj ul {
  padding-left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 2%;
  font-size: 100%;
  width: 100%;
}

.HTML {
  background-color: #929be0;
  border-radius: 8px;
  padding: 2% 5%;
  margin: 1% 3%;
  width: 10%;
  height: auto;
}

.CSS {
  background-color: #a7b0f3;
  border-radius: 8px;
  padding: 2% 5%;
  margin: 1% 3%;
  width: 10%;
  height: auto;
}

.JAVA-SCRIP {
  background-color: #adb3f1;
  border-radius: 8px;
  padding: 2% 5%;
  margin: 1% 3%;
  width: 10%;
  height: auto;
}

.SEE_PROJECT button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  width: 200px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  justify-content: center;
  margin-bottom: 50px;
}

.image2 {
  border-radius: 8px;
  width: 295px;
  height: 220px;
}

.base_typography {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 137%;
  color: #172b4d;
}

.Box_model {
  width: 236px;
  height: 32px;
}

.languages {
  width: 327px;
  height: 72px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 137%;
  color: #172b4d;
}

.language {
  display: flex;
  flex-direction: row;
  gap: 23%;
  margin-top: 3%;
  justify-content: space-between;
}

.JS {
  width: 215px;
  height: 24px;
}

.js_fle {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.frameworks {
  width: 327px;
  height: 72px;
}

.message {
  color: #333;
  font-size: 25px;
  width: 600px;
  height: auto;
  margin: 80px;
}

.image3 {
  width: 200px;
  height: 40px;
}

.get_myresume {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  width: 200px;
  height: 60px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  justify-content: center;
  margin-bottom: 50px;
}

.About_myself {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #344563;
}
